body{
    text-align: center;
    background-color: rgb(179, 197, 224);
    padding-top: 30px;
}


.main{
    color: rgb(30, 30, 85);
    font-size: 80px;
    border-radius: 15px;
    display: inline;
    padding: 15px;
    background-color: rgb(202, 162, 87);
}


.multitext {
    color: rgb(118, 90, 38);
    font-size: 45px;
}


/* rgb(118, 90, 38) */